RewriteEngine on

# RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule  request  request.py    [END,QSA] 
RewriteRule  home     index.py      [END,QSA] 
RewriteRule  auth     api/auth.py   [END,QSA] 
RewriteRule  items    api/items.py  [END,QSA]
